node_modules
dist
*.log
.DS_Store
bun.lockb
# This project uses bun. Not npm.
package-lock.json
# Generated type definition file
defineRequirement.ts
# Example projects
example/*/node_modules
example/*/dist
example/*/package-lock.json
